<div class="wrapper">
  <div class="modal">
    <div class="modal-header">
      <div class="modal-logo">
        <img src="./assets/icons/panel-logo.svg" alt="logo">
        <div class="logo-text">Dashboard Kit</div>
      </div>
      <div class="modal-title">Reset Password</div>
      <div class="modal-subtitle">Enter new password</div>
    </div>
    <form
      [formGroup]="form"
      class="modal-form"
      (ngSubmit)="submitForm()">
      <div formGroupName="passwords" class="passwords">
        <div class="password-input">
          <input
            #password
            formControlName="password"
            appAdminInput
            label="password"
            placeholder="Password"
            type="password">
          <img (click)="changePasswordInputType(password)" src="./assets/icons/password-eye.svg" alt="eye">
        </div>
        <p
          *ngIf="this.form.get('passwords').get('password').touched && this.form.get('passwords').get('password').errors?.required"
          class="error"
          [@fadeInOut]>
          This field is required
        </p>
        <div class="password-input">
          <input
            #confirmPassword
            formControlName="confirmPassword"
            appAdminInput
            label="confirm password"
            placeholder="Confirm password"
            type="password">
          <img (click)="changePasswordInputType(confirmPassword)" src="./assets/icons/password-eye.svg" alt="eye">
        </div>
        <p
          *ngIf="this.form.get('passwords').get('confirmPassword').touched && this.form.get('passwords').get('confirmPassword').errors?.required"
          class="error"
          [@fadeInOut]>
          This field is required
        </p>
        <p
          *ngIf="
    this.form.get('passwords').get('confirmPassword').touched &&
    !this.form.get('passwords').get('confirmPassword').errors?.required &&
    this.form.get('passwords').errors?.notSame"
          class="error"
          [@fadeInOut]>
          Confirm password is wrong
        </p>
      </div>
      <button appAdminButton >Log In</button>
    </form>
    <div class="create-account-label">
      <span>Don’t have an account? <a routerLink="/sign-up">Sign up</a> </span>
    </div>
  </div>
</div>
