<div class="wrapper">
  <div class="modal">
    <div class="modal-header">
      <div class="modal-logo">
        <img src="./assets/icons/panel-logo.svg" alt="logo">
        <div class="logo-text">Dashboard Kit</div>
      </div>
      <div class="modal-title">Forgot password?</div>
      <div class="modal-subtitle">Enter your email from registered account</div>
    </div>
    <form
      [formGroup]="form"
      class="modal-form"
      (ngSubmit)="onSubmit()">
      <div class="formcontrol-wrapper">
        <input
          formControlName="email"
          appAdminInput
          label="email"
          placeholder="Email"
          type="text">
        <p
          *ngIf="this.form.get('email').touched && this.form.get('email').errors?.required"
          class="error"
          [@fadeInOut]>
          This field is required
        </p>
        <p
          *ngIf="this.form.get('email').touched && this.form.get('email')?.errors?.email"
          class="error"
          [@fadeInOut]>
          Enter correct email
        </p>
      </div>
    </form>
    <button appAdminButton>Send</button>
    <div class="create-account-label">
      <span>Don’t have an account? <a routerLink="/sign-up">Sign up</a> </span>
    </div>
  </div>
</div>
