.header {
  padding: 20px 0;
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header-name {
      font-weight: 700;
      font-size: 24px;
      letter-spacing: 0.3px;
      color: #252733;
    }
    .header-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 25%;
      .divider {
        height: 30px;
        border: 1px solid #DFE0EB;
      }
      .user-name {
        font-weight: 600;
        font-size: 14px;
        text-align: right;
        letter-spacing: 0.2px;
        color: #252733;

      }
      .user-photo  {
        width: 68px;
        height: 68px;
        overflow: hidden;
        border-radius: 100%;
        border: 2px solid #DFE0EB;
        img {
          width: 96%;
          height: 97%;
          display: block;
          margin: 1px auto;
          border-radius: 100%;
        }
      }
    }
  }
}
