<div class="wrapper">
  <div class="modal">
    <div class="modal-header">
      <div class="modal-logo">
        <img src="./assets/icons/panel-logo.svg" alt="logo">
        <div class="logo-text">Dashboard Kit</div>
      </div>
      <div class="modal-title">Log In to Dashboard Kit</div>
      <div class="modal-subtitle">Enter your email and password</div>
    </div>
    <form
      [formGroup]="form"
      class="modal-form"
      (ngSubmit)="submitForm()">
      <div class="formcontrol-wrapper">
        <input
        formControlName="email"
        appAdminInput
        label="email"
        placeholder="Email"
        type="text">
        <p
          *ngIf="this.form.get('email').touched && this.form.get('email').errors?.required"
          class="error"
          [@fadeInOut]>
          This field is required
        </p>
        <p
          *ngIf="this.form.get('email').touched && this.form.get('email')?.errors?.email"
          class="error"
          [@fadeInOut]>
          Enter correct email
        </p>
      </div>
        <div class="password-input">
          <input
            #passwordInput
            formControlName="password"
            appAdminInput
            label="password"
            placeholder="Password"
            type="password">
          <img (click)="changePasswordInputType(passwordInput)" src="./assets/icons/password-eye.svg" alt="eye">
        </div>
        <p
          *ngIf="this.form.get('password').touched && this.form.get('password').errors?.required"
          class="error"
          [@fadeInOut]>
          This field is required
        </p>
      <button appAdminButton >Log In</button>
    </form>
    <div class="create-account-label">
      <span>Don’t have an account? <a routerLink="/sign-up">Sign up</a> </span>
    </div>
  </div>
</div>
