:host {
  overflow: hidden;

  .content-wrapper {
    border: 1px solid #DFE0EB;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    height: 100%;
    .buttons-block {
      padding: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #FFFFFF;
      .sort {
        display: flex;
        align-items: center;
        cursor: pointer;
        span {
          padding-left: 9px;
          font-weight: 600;
          font-size: 14px;
          line-height: 20px;
          letter-spacing: 0.2px;
          color: #4B506D;
        }
      }
      button {
        background: transparent;
        border: none;
        cursor: pointer;
        display: flex;
        margin-left: auto;
        align-items: flex-start;
        img {
          width: 20px;
          height: 20px;
        }
        span {
          font-weight: 600;
          font-size: 14px;
          letter-spacing: 0.2px;
          color: #3751FF;
        }
      }
      button:hover {
        transform: translateY(-5%);
        transition: 0.2s all;
      }
    }
    .table-wrapper {
      height: 84%;
      overflow: auto;
      .details {
        display: flex;
        align-items: center;
        .user-photo {
          width: 45px;
          height: 45px;
          border-radius: 100%;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;

          }
        }
        .details-text {
          margin-left: 25px;
          .message {
            font-weight: 600;
            font-size: 14px;
            letter-spacing: 0.2px;
            color: #252733;
          }
          .updated {
            font-size: 12px;
            letter-spacing: 0.1px;
            color: #C5C7CD;
          }
        }
      }
      .name {
        display: flex;
        flex-direction: column;
        span {
          font-weight: 600;
          font-size: 14px;
          line-height: 20px;
          letter-spacing: 0.2px;
          color: #252733;
        }
        .on {
          font-size: 12px;
          line-height: 16px;
          letter-spacing: 0.1px;
          color: #C5C7CD;
        }
      }
      .date {
        display: flex;
        flex-direction: column;
        .day {
          font-weight: 600;
          font-size: 14px;
          line-height: 20px;
          letter-spacing: 0.2px;
          color: #252733;
        }
        .exact-time {
          font-size: 12px;
          line-height: 16px;
          letter-spacing: 0.1px;
          color: #C5C7CD;
        }
      }
      .priority {
        text-transform: uppercase;
        color: #fff;
        border-radius: 100px;
        width: 60px;
        height: 30px;
        text-align: center;
        padding-top: 4px;
      }
      .red {
        background: #F12B2C;
      }
      .yellow {
        background: #FEC400;
      }
      .green {
        background: #29CC97;
        width: 76px;
      }

    }
    .pagination-block {
      position: absolute;
      width: 100%;
      bottom: 0;
      border-top: 1px solid #DFE0EB;;
    }

  }

}


:host::ng-deep {
  .demo-table {
    width: 100%;
  }

  .demo-button-container {
    padding-bottom: 16px;
  }

  .demo-button + .demo-button {
    margin-left: 8px;
  }
  tr.mat-row {
    height: 90px;
    cursor: pointer;
  }
  tr.mat-row:hover {
    background: #F7F8FC;
  }
  .mat-header-row {
    height: 40px;
  }
  th.mat-header-cell {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #9FA2B4;
  }
  .mat-row:last-child td {
    border-bottom-color: transparent;
  }
  .mat-elevation-z8 {
    box-shadow: none;
  }
}
